<div class="display-4 text-center m-4">Dashboard</div>
<div *ngIf="!isUser()">
  <h1>Error. You are not authorised to view this page.</h1>
</div>
<div class="container" *ngIf="isUser()">
  <div class="row justify-content-center">
    <div class="col-sm-6 d-flex justify-content-center mb-3">
      <button mat-stroked-button color="primary" class="p-4 w-100" routerLink="/event/list">
        View Events
      </button>
    </div>
    <div class="col-sm-6 d-flex justify-content-center mb-3">
      <button mat-stroked-button color="primary" class="p-4 w-100" routerLink="/bookings">
        View Bookings
      </button>
    </div>
    <!-- <div class="col-sm-6 d-flex justify-content-center mb-3">
      <button mat-stroked-button color="primary" class="p-4 w-100" routerLink="/credits">
        View Credits
      </button>
    </div> -->
  </div>
  
</div>