<div *ngIf="!isAdmin()">
  <h1>Error. You are not authorised to view this page.</h1>
</div>
<div *ngIf="isAdmin()">
  <div class="text-center">
    <h1>Edit Event</h1>
  </div>
  <form
    [formGroup]="newEventForm"
    (ngSubmit)="processForm()"
    *ngIf="formSubmitted == false"
  >
    <div class="d-flex justify-content-center flex-column pb-4">
      <mat-form-field appearance="outline">
        <mat-label>Event Title</mat-label>
        <input
          matInput
          placeholder="Please Enter an Event Title"
          formControlName="title"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Event Description</mat-label>
        <textarea
          matInput
          placeholder="Please Enter an Event Description"
          formControlName="description"
        ></textarea>
      </mat-form-field>

      <mat-button-toggle-group
        formControlName="days"
        class="mb-3 d-flex justify-content-center"
      >
        <mat-button-toggle class="m-2" value="single" [checked]="true">
          Single Day Event
        </mat-button-toggle>
        <mat-button-toggle class="m-2" value="multiple">
          Multiple Day Event
        </mat-button-toggle>
      </mat-button-toggle-group>

      <mat-form-field
        appearance="outline"
        class="example-form-field"
        *ngIf="isSingleDayEvent()"
      >
        <!-- <h4>Date: {{ this.eventDetails.date }}</h4> -->
        <mat-label>{{ this.eventDetails.date }} </mat-label>
        <input matInput [matDatepicker]="datepicker" formControlName="date" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="datepicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>
              Apply
            </button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="mb-3"
        *ngIf="!isSingleDayEvent()"
      >
        <mat-label
          >{{ this.eventDetails.startDate }} to
          {{ this.eventDetails.endDate }}</mat-label
        >
        <mat-date-range-input [rangePicker]="rangePicker">
          <input
            matStartDate
            placeholder="Start date"
            formControlName="startDate"
          />
          <input matEndDate placeholder="End date" formControlName="endDate" />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="rangePicker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker>
          <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDateRangePickerApply>
              Apply
            </button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </mat-form-field>

      <p class="mb-0 mt-4 ps-2" style="fontSize:1rem" *ngIf="isSingleDayEvent()">
        Event Timing: {{ this.eventDetails.startTime }} to
        {{ this.eventDetails.endTime }} 
      </p>
      <div class="d-flex justify-content-evenly" *ngIf="isSingleDayEvent()">
        <mat-form-field>
          <mat-label>Start Time</mat-label>
          <input matInput disabled="true" />
          <ngx-timepicker-field
            formControlName="startTime"
            [controlOnly]="true"
          ></ngx-timepicker-field>
        </mat-form-field>

        <mat-form-field>
          <mat-label>End Time</mat-label>
          <input matInput disabled="true" />
          <ngx-timepicker-field
            formControlName="endTime"
            [controlOnly]="true"
          ></ngx-timepicker-field>
        </mat-form-field>
      </div>

      <!-- <mat-form-field appearance="outline" *ngIf="isSingleDayEvent()">
          <mat-label>Frequency</mat-label>
          <mat-select formControlName="frequency">
            <mat-option value="once">Once</mat-option>
            <mat-option value="daily">Daily</mat-option>
            <mat-option value="weekly">Weekly</mat-option>
          </mat-select>
        </mat-form-field> -->

      <mat-form-field appearance="outline">
        <mat-label>Event Price ($)</mat-label>
        <input
          matInput
          placeholder="Please Enter an Amount"
          formControlName="price"
          type="number"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Event Capacity</mat-label>
        <input
          matInput
          placeholder="Please Enter The Maximum Capacity"
          formControlName="capacity"
          type="number"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Upload Event Image</mat-label>
        <div class="ps-2">
          <img
            [src]="getImageFromBase64(this.eventDetails.image)"
            mat-card-image
            class="w-25 mt-4"
          />
        </div>
        <input matInput class="m-1" disabled="true" />
        <input type="file" formControlName="image" #toUpload />
      </mat-form-field>

      <button mat-raised-button color="accent" class="mt-3" type="submit">
        Submit
      </button>
    </div>
  </form>
  <div *ngIf="formSubmitted">
    <div class="alert alert-success text-center" *ngIf="eventEdited">
      <h1>Event Added!</h1>
      <mat-list>
        <mat-list-item> Title: {{ eventDetails.title }} </mat-list-item>
        <mat-list-item>
          Description: {{ eventDetails.description }}
        </mat-list-item>
        <mat-list-item>Days: {{ eventDetails.days }}</mat-list-item>
        <mat-list-item *ngIf="eventDetails.days == 'single'">
          Date: {{ eventDetails.date }}
        </mat-list-item>
        <mat-list-item *ngIf="eventDetails.days == 'single'">
          Time: {{ eventDetails.startTime }} to
          {{ eventDetails.endTime }}
        </mat-list-item>
        <mat-list-item *ngIf="eventDetails.days == 'multiple'">
          Starting Date: {{ eventDetails.startDate }}
        </mat-list-item>
        <mat-list-item *ngIf="eventDetails.days == 'multiple'">
          Ending Date: {{ eventDetails.endDate }}
        </mat-list-item>
        <mat-list-item> Price: ${{ eventDetails.price }} </mat-list-item>
        <mat-list-item>
          Max. Capacity: {{ eventDetails.capacity }}
        </mat-list-item>
      </mat-list>
    </div>
    <div class="alert alert-danger text-center" *ngIf="eventEdited == false">
      <h1>Failed to add event.</h1>
      <h3>{{ errorMessage }}</h3>
    </div>
    <div class="d-flex justify-content-evenly">
      <button mat-raised-button color="accent" (click)="resetForm()">
        Add Another Event
      </button>
      <button
        mat-raised-button
        color="warn"
        [routerLink]="['/admin/dashboard']"
      >
        Back to Dashboard
      </button>
    </div>
  </div>
</div>
