<mat-toolbar color="primary">
  <span>Booking System</span>
  <span class="example-spacer"></span>
  <div *ngIf="roles">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <!-- <button mat-menu-item *ngIf="isAdmin()" routerLink="/admin/dashboard">
        <span>Admin</span>
      </button> -->
      <button mat-menu-item *ngIf="isUser() || isAdmin()" routerLink="/dashboard">
        <span>Dashboard</span>
      </button>
      <button mat-menu-item *ngIf="isUser()" routerLink="/bookings">
        <span>Your Bookings</span>
      </button>
      <button mat-menu-item *ngIf="isUser()" routerLink="/credits">
        <span>Your Wallet</span>
      </button>
      <!-- <button mat-menu-item>
        <span>Account</span>
      </button> -->
      <button mat-menu-item (click)="logout()">
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
<div class="container m-3">
  <!-- <div class="display-4 text-center m-3 ">Hello</div> -->
  <router-outlet></router-outlet>
</div>
